.BookDescription {
    font-family: HeliosCond;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 145%;
    color: #333232;
    max-height: 500px;
    overflow-y: scroll;
}