.bookAuthor {
    font-family: HeliosCond;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 145%;
    color: #A6A4A2;
}

.bookName {
    font-family: HeliosCond;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 78px;
    color: #333232;
}

.bookISBN {
    font-family: HeliosCond;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #A6A4A2;
}